<!doctype html>
<html lang="en">
<head>
    <link href="/admin/static/bootstrap/bootstrap3/swatch/superhero/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="/admin/static/admin/css/bootstrap3/admin.css?v=1.1.1" rel="stylesheet">
    <link href="/admin/static/admin/css/bootstrap3/submenu.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            padding-top: 4px;
        }
    </style>
    <title>SLR Web App</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SLR Web App</a>

        </div>
        <!-- navbar content -->
        <div class="collapse navbar-collapse" id="admin-navbar-collapse">
            {% block header %}{% endblock %}

            <div class="navbar-text btn-group pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="glyphicon glyphicon-user"></i>
                    {% if current_user.username -%}
                    {{ current_user.username }}
                    {%- endif %}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('security.change_password') }}">Change Password</a></li>
                    <li><a href="{{ url_for('security.logout') }}">Log out</a></li>
                </ul>
            </div>


        </div>
    </nav>

    <section class="content">
        {% block content %}{% endblock %}
    </section>
</div>

<script src="/admin/static/vendor/jquery.min.js?v=3.3.1" type="text/javascript"></script>
<script src="/admin/static/bootstrap/bootstrap3/js/bootstrap.min.js?v=3.3.5" type="text/javascript"></script>
<script src="/admin/static/vendor/moment.min.js?v=2.22.2" type="text/javascript"></script>
<script src="/admin/static/vendor/select2/select2.min.js?v=3.5.2" type="text/javascript"></script>
<script src="/admin/static/admin/js/helpers.js?v=1.0.0" type="text/javascript"></script>

</body>
</html>